
<app-titlebar></app-titlebar>
<!--<app-sidenavbar></app-sidenavbar>-->
<div class="row">
<!--    <div class="col-4">-->

<!--        <div  >-->
<!--            <img class="card-img-top"  style="width: 20rem; height: 20rem" src="assets\images\cover.jpg" alt="Card image cap">-->

<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-8">-->

<!--        <div class="card">-->
<!--            <div class="card-body"> <br>-->
<!--                The supply chain of the consumable goods produced by the local farmers is always unmanage. When we are considered about the-->
<!--                local supply chain, often there is no real price for consumer goods produced by farmers. In here, we brings heavy losses to-->
<!--                the farmers and customers!!!-->
<!--                 <br>-->
<!--                අස්වැන්න centralizes, manages, and optimizes the production-->
<!--                activities and operations of farms.-->
<!--                <br>With අස්වැන්න, farmers can become-->
<!--                strategic and efficient in their daily farm-related tasks-->
<!--                and responsibilities. අස්වැන්න tracks business expenses and-->
<!--                farm budgets. <br>-->
<!--                While farm management software, crop management software, and-->
<!--                precision agriculture software all solve overlapping production and yield-->
<!--                concerns, the scope of the former is larger and more comprehensive. However, vendors do offer more generalized,-->
<!--                sector-agnostic farm management solutions, benefiting farmers, ranchers, growers, and other-->
<!--                agribusiness employees who manage and oversee operations that are multi-sector.-->
<!--              </div>-->
<!--          </div>-->
<!--    </div>-->


  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets\images\cover.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Farmer</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets\images\cover-not.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets\images\2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>




</div>
<div class ="row">



    <!-- Button trigger modal -->
<!--<div class = "row">-->
<!--  <div class  = "col-10">-->

<!--  </div>-->

<!--  <div class = "col-2">-->
<!--    <button class="btn btn-sm btn-primary" (click)="open(mymodal)">Add Product type</button>-->

<!--  </div>-->

<!--</div>-->
    <!-- Modal -->

<app-view-types></app-view-types>


</div>



