
    <div class="card" style="width: 30rem;  margin-top: 1rem;">
      <div class="card-body">
        <!--template driven form-->
        <form [formGroup]="postForm" autocomplete="off" novalidate (ngSubmit)="onSubmit(postForm.value)">
          <div class="form-row">
            <div class="form-group col-md-11">
              <label for="itemName">Item Name</label>
              <input type="text" id="itemName" class="form-control" formControlName="itemName" name="itemName"
                     placeholder="Beans">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-5">
              <label for="qty">Available Quantity</label>
              <input type="number" id="qty" class="form-control" formControlName="quantity" name="quantity"
                     placeholder="">
            </div>

            <div class="form-group col-md-6">
              <label for="uprice">Unit Price</label>
              <input type="number" id="uprice" class="form-control" formControlName="unitPrice" name="unitPrice"
                     placeholder="0.00">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-11">
              <label for="exp">Expire Date</label>
              <input type="date" id="exp" class="form-control" formControlName="expireDate" name="expireDate"
                     placeholder="yyyy-dd-mm">
            </div>
          </div>
          <div class="form-row">

            <div class="form-group col-md-11">
              <label for="hdate">Harvest Date</label>
              <input type="date" id="hdate" class="form-control" formControlName="harvestDate" name="harvestDate"
                     placeholder="yyyy-dd-mm">
            </div>
          </div>
          <div class="form-row">

            <div class="form-group col-md-11">
              <label for="des">Description</label>
              <textarea type="date" id="des" class="form-control" formControlName="description" name="description"
              ></textarea>
            </div>
          </div>

          <div class="form-row">
            <label for="file">File</label>
            <input
              formControlName="imgfile"
              name="file"
              id="file"
              type="file"
              class="form-control"
              (change)="onFileChange($event)">

          </div>


          <p></p>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>

          </div>
        </form>

      </div>

    </div>





